/* Hide on Desktop */
.bottom-nav {
  display: none;
}

/* ============================
   Mobile & Tablet Navigation
============================ */

@media (max-width: 768px) {
  .bottom-nav {
    display: flex;

    position: fixed;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%);

    width: calc(100% - 20px);
    max-width: 520px;
    height: 72px;

    padding: 8px;

    align-items: center;
    justify-content: space-between;

    border-radius: 50px;

    background: rgba(241, 240, 240, 0.145);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);

    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow:
      0 15px 35px rgba(0, 0, 0, 0.45),
      inset 0 1px 0 rgba(255, 255, 255, 0.08);

    z-index: 9999;
  }

  /* Navigation Button */

  .nav-item {
    height: 56px;
    min-width: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: transparent;
    color: #b5b501;
    cursor: pointer;
    transition: all 0.35s ease;
    overflow: hidden;
    flex-shrink: 0;
  }

  .nav-item:hover {
    color: #0417c2;
  }

  /* Icon */

  .nav-item .icon {
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
  }

  /* Text */

  .nav-item .label {
    display: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    white-space: nowrap;
  }

  /* Active Button */

  .nav-item.active {
    min-width: 155px;
    justify-content: flex-start;
    padding: 0 22px;
    color: #fff;
    background: linear-gradient(90deg, #6500ff, #9d00ff, #c600ff);
    box-shadow: 0 8px 25px rgba(143, 0, 255, 0.45);
  }

  .nav-item.active .label {
    display: block;
  }
}

/* =====================
      Small Phones
===================== */

@media (max-width: 480px) {
  .bottom-nav {
    width: calc(100% - 14px);
    height: 66px;
    padding: 6px;
  }

  .nav-item {
    min-width: 46px;
    height: 46px;
  }

  .nav-item .icon {
    font-size: 20px;
  }

  .nav-item.active {
    min-width: 118px;
    padding: 0 16px;
    gap: 10px;
  }

  .nav-item.active .label {
    font-size: 13px;
  }
}
